body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: stretch;

  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.day_schedule_view {
  flex: 1535 0 0;
  background: #ffffff;
}

.month_view {
  display: flex;
  flex: 799 0 0;
  flex-direction: column;

  background: rgba(42, 46, 65, 0.7);
  padding: 0 4.37% 6% 4.11%;
  /* padding-bottom 6% temporary*/
}

.month_header {
  padding: 84px 0;

  box-sizing: border-box;

  display: flex;
  margin: 0 0 22px;

  position: relative;
}
.month_header::before,
.month_header::after,
.day_numbers-wrapper::before,
.day_numbers-wrapper::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";

  mix-blend-mode: normal;

  width: 100%;
  height: 2px;
}
.month_header::before,
.day_numbers-wrapper::before {
  background: #000000;
  opacity: 0.17;
}
.month_header::after,
.day_numbers-wrapper::after {
  bottom: -2px;
  background: #ffffff;
  opacity: 0.13;
}

.month_title {
  flex: 1 0 0;
  order: 2;

  font-size: 36px;
  line-height: 42px;

  text-align: center;

  color: #ffffff;
}

.month_button {
  flex: 0 0 20px;

  background: transparent;
  border: 0;
  padding: 0;

  cursor: pointer;

  color: #fff;
}
.month_button-previous {
  order: 1;
}
.month__btn-image {
  width: 100%;

  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.month_button-next {
  order: 3;
}

.month__btn-image--rotated {
  transform: rotate(180deg);
}

.day_names {
  display: grid;
  grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
  grid-template-rows: 100%;
  align-items: center;

  margin: 0 0;
  height: 120px;
  padding: 0;

  list-style: none;
}

.day_name {
  font-size: 26px;
  line-height: 1.1539;

  align-items: center;
  text-align: center;
  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.6;
}

.day_numbers {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 120px);

  padding: 0;
  margin: 0;

  text-align: center;
  align-items: center;
}

.day_numbers > li {
  list-style: none;

  align-self: center;
  justify-self: center;
}

.day_numbers > li a {
  text-decoration: none;
  color: #ffffff;
  margin: 0;
  float: left;
  align-self: center;
  font-size: 29px;
  line-height: 1.1725;
}

.next_month-day {
  mix-blend-mode: normal;
  opacity: 0.5;

  text-decoration: none;
  color: #ffffff;
  margin: 0;
  float: left;

  font-size: 29px;
  line-height: 1.1725;
}

.day_numbers-wrapper {
  position: relative;
}

.day-current {
  position: relative;

  z-index: 1;
}
.day_numbers > li > div:hover::after,
.day-current > div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 80px;
  background: #3c82f9;
  border-radius: 80px;

  z-index: -1;
}

/* .day_numbers > li::before {
  content: "";
  float: left;
  padding-top: 100%;
} */
/* .day_numbers > li > div > a:hover {
  background: #3c82f9;
  border-radius: 80px;
  width: 80px;
  height: 80px;
} */

.day_numbers > li > div{
  width: 100%;
  height: 100%;

}
.categories_title {
  font-style: normal;

  font-size: 26px;
  line-height: 30px;

  color: #ffffff;
  margin: 105px 0 12px;
}

.categories_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.categories_button {
  flex-basis: 47.65%;
  height: 80px;
  border-radius: 12px;
  margin: 30px 0 0;
  border: 0;

  text-transform: uppercase;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.button_color-purple {
  background: #8576ed;
}
.button_color-orange {
  background: #f39946;
}
.button_color-crimson {
  background: #ff467e;
}
