body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: stretch;

  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.day_schedule_view {
  flex: 1535 0 0;
  background: #ffffff;
}

.month_view {
  display: flex;
  flex: 799 0 0;
  flex-direction: column;

  background: rgba(42, 46, 65, 0.7);
  padding: 0 4.37% 6% 4.11%;
  /* padding-bottom 6% temporary*/
 
}

.month_header {
  padding: 84px 0;

  box-sizing: border-box;

  display: flex;

  position: relative;
}
.month_header::before,
.month_header::after,
.day_numbers-wrapper::before,
.day_numbers-wrapper::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";

  mix-blend-mode: normal;

  width: 100%;
  height: 2px;
}
.month_header::before,
.day_numbers-wrapper::before {
  background: #000000;
  opacity: 0.17;
}
.month_header::after,
.day_numbers-wrapper::after {
  bottom: -2px;
  background: #ffffff;
  opacity: 0.13;
}

.month_title {
  flex: 1 0 0;
  order: 2;

  text-align: center;

  font-size: 36px;
  line-height: 42px;

  text-align: center;

  color: #ffffff;
}

.month_button {
  flex: 0 0 20px;

  background: transparent;
  border: 0;
  padding: 0;

  cursor: pointer;

  color: #fff;
}
.month_button-previous {
  order: 1;
}
.month__btn-image {
  width: 100%;

  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.month_button-next {
  order: 3;
}

.month__btn-image--rotated {
  transform: rotate(180deg);
}

.day_names {
  display: flex;
  align-items: center;

  margin: 20px 0 0;
  padding: 0;

  list-style: none;
  height: 120px;
}

.day_name {
  flex: 1 0 0;

  font-size: 26px;
  line-height: 30px;

  align-items: center;
  text-align: center;
  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.6;
}

.day_numbers-wrapper {
  box-sizing: border-box;
  position: relative;
}

.day_numbers {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
}

.day_numbers > li {
  list-style: none;

  display: flex;
  flex-basis: 12%;
  flex-shrink: 0;
  flex-grow: 1;
  justify-content: center;

  align-items: center;
  color: #ffffff;
  font-size: 29px;

  margin-right: 5px;
  margin-bottom: 51px;
  position: relative;
  width: 50%;
}
.day_numbers > li:hover {
  background: #3c82f9;
  border-radius: 80px;
}
.day_numbers > li::before {
  content: "";
  float: left;
  padding-top: 100%;
}

.next_month-day {
  mix-blend-mode: normal;
  opacity: 0.5;
}

.day_numbers > li > p {
  margin: 0;
  float: left;
}

.categories_title {
  font-style: normal;

  font-size: 26px;
  line-height: 30px;

  color: #ffffff;
  margin: 105px 0 12px;
}

.categories_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.categories_button {
  flex-basis: 47.65%;
  height: 80px;
  border-radius: 12px;
  margin: 30px 0 0;
  border: 0;

  text-transform: uppercase;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;


}

.button_color-purple{
    background: #8576ED;
}
.button_color-orange{
    background: #F39946;
}
.button_color-crimson{
    background: #FF467E;
}