/* cyrillic */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKeiunDTbtXK-F2qC0usEw.woff)
    format("woff");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKeiunDZbtXK-F2qC0usEw.woff)
    format("woff");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKeiunDXbtXK-F2qC0s.woff)
    format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-style: normal;
}

a {
  color: #fff;
}

a:hover,
a:focus {
  color: #e6e3c4;
}

:root {
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
}

.header {
  background-image: url("images/bgc.jpg");
  min-height: min(100vh, 900px);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #202020;
  background-size: cover;

  display: flex;
  align-items: stretch;
}

.header_wrapper {
  flex-basis: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 30px 0 150px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header_address-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header_address-line address {
  flex-grow: 0;
  flex-basis: auto;
  flex-shrink: 0;

  font-weight: 500;
  font-size: 0.9285rem;
  font-style: normal;
}

.header_address-line a {
  flex-grow: 0;
  flex-basis: auto;
  flex-shrink: 0;

  font-weight: 400;
  font-size: 0.9285rem;
  text-decoration: none;
  color: inherit;
}

.header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.header nav ul li {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;

  text-align: center;
  padding: 11px 0 15px;
}

.header nav ul li:not(:first-child) {
  border-left: 1px solid #ffffff;
}

.header nav ul li + li {
  border-left: 1px solid #fff;
}

.header nav a {
  text-decoration: none;
  font-size: 1rem;
}

.header_actions {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.header_actions a {
  background: #998431;

  font-weight: 500;
  font-size: 1.1429rem;
  line-height: 1.25;

  padding: 15px 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.header_actions a + a {
  margin-left: 30px;
}

.annotation {
  background: #282828;
  padding: 100px 20px;

  display: flex;
  justify-content: center;
}

.annotation_wrapper {
  flex-basis: 100%;

  border: 3px solid #c4c4c4;
  max-width: 1100px;

  padding: 60px;
  box-sizing: border-box;
}

.annotation_wrapper::after {
  content: "";
  display: block;

  width: 160px;
  height: 160px;

  margin: 50px auto 0;
  background: url("images/annotation.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.annotation_title {
  position: relative;

  margin: 0 auto 80px;

  max-width: 736px;
  text-align: center;

  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;

  font-size: 2.5714rem;
  line-height: 1.5;
}

.annotation_title::after {
  content: "";

  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  /*left: calc((100% - 160px)/2);*/

  display: block;
  box-sizing: border-box;

  border-top: 1px solid #fff;
  width: 160px;
}

.annotation_description {
  font-size: 1.1428rem;

  max-width: 736px;
  margin: auto;

  text-align: center;
}

.collection {
  background: #e6e3c4;
  color: #282828;

  display: flex;
  justify-content: center;

  padding: 80px 20px;
  box-sizing: border-box;
}

.collection_wrapper {
  flex-basis: 100%;
  max-width: 1110px;

  padding: 60px 0;

  border-top: 1px solid #998431;
  border-bottom: 1px solid #998431;

  box-sizing: border-box;

  display: flex;
}

.collection_main {
  flex-basis: 0;
  flex-grow: 445;
  flex-shrink: 0;
  margin-right: 11.36%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.collection_gallery {
  flex-basis: 0;
  flex-grow: 540;
  flex-shrink: 0;
}

.collection_subtitle {
  font-size: 1.1429rem;
}

.collection_title {
  position: relative;

  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5714rem;
  line-height: 1.5;

  max-width: 300px;
  margin: 30px 0 60px;
}

.collection_title::after {
  position: absolute;
  bottom: -30px;
  left: 0px;

  display: block;
  box-sizing: border-box;

  width: 160px;

  border-top: 1px solid #282828;
  content: "";
}

.collection_description {
  margin: 0 0 30px;
}

.collection_table {
  width: 100%;
  border-collapse: collapse;
  border: 0;
}

.collection_item:not(:last-child) td {
  border-bottom: 1px solid #282828;
  box-sizing: border-box;
}

.collection_item-year {
  border-right: 1px solid #282828;

  width: 16.85%;

  padding: 26px 24px 26px 19px;

  box-sizing: border-box;
}

.collection_item-info {
  padding: 6px 30px 14px 30px;
}

.collection_item-title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2857rem;

  color: #282828;
  margin: 0 0 5px;
}

.collection_summary {
  margin: 30px 0;
}

.collection_more {
  display: block;

  background: #998431;
  padding: 15px 30px;
  box-sizing: border-box;

  font-size: 1.1428rem;

  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
}

.collection_gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.collection_img-wrapper:first-child {
  flex-basis: 100%;
  flex-shrink: 0;
  flex-grow: 0;
}

.collection_img-wrapper:not(:first-child) {
  flex-basis: 35%;
  flex-shrink: 0;
  flex-grow: 1;
}

.collection_img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
  display: block;
}

.degustation {
  background: #282828;
  padding: 129px 54px 100px;

  display: flex;
  justify-content: center;
}

.degustation_form {
  position: relative;

  box-sizing: border-box;
  flex: 0 0 100%;
  max-width: 1110px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 105px 0 80px;

  border: 3px solid #c4c4c4;
}

.degustation_form::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-11.53%, -26.54%);

  width: 23.42%;
  aspect-ratio: 1;

  background: #282828 url("images/left.jpg") center center no-repeat;
  background-size: contain;
}

.degustation_form::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  transform: translate(20.38%, -32.5%);

  width: 23.42%;
  padding-top: 18.02%;
  height: 0;

  box-sizing: content-box;

  background: #282828 url("images/right.jpg") center center no-repeat;
  background-size: contain;
}

.degustation_row {
  position: relative;
  max-width: 539px;
  width: 100%;
}

.degustation_title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-1px) translateY(-50%);

  width: 45%;
  max-width: 490px;

  text-align: center;

  background: #282828;

  margin: 0;
  padding: 0 4.5%;

  box-sizing: border-box;

  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.57rem;
  line-height: 1.5;
}

.degustation_title::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;

  content: "";

  width: 24%;
  border-top: 1px solid #fff;
}

.degustation_row-description {
  font-size: 1.1429rem;
  text-align: center;
  margin-bottom: 80px;
}

.degustation_label {
  position: relative;

  flex: 1 0 0;
  gap: 30px;

  display: block;
  box-sizing: border-box;

  border-bottom: 1px solid#fff;
  padding: 0;
  margin: 0;

  font-weight: normal;
  font-size: 0.9286rem;
  color: #fff;
}

.degustation_label-title {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(0);
  transition: transform 0.6s;
}

.degustation_row-with-two-inputs {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}

.degustation_input {
  width: 100%;

  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  display: block;
  box-sizing: border-box;

  background: transparent;
  border: 0;
  border-bottom: 1px solid transparent;
  padding: 0 0 10px;
}

.degustation_input:focus {
  outline: none;
  border-color: #fff;
}

.text_color{
  color:black;
}

.degustation_input:focus + .degustation_label-title {
  transform: translateY(-100%) scale(0.7);
}

.degustation_row-actions {
  margin-top: 50px;
}

.degustation_submit {
  display: block;
  width: 100%;
  text-transform: uppercase;

  font-family: inherit;
  font-weight: normal;
  font-size: 1.1428rem;

  text-align: center;
  color: #fff;
  background: transparent;

  border: 1px solid #fff;
  padding: 15px;

  box-sizing: border-box;
  cursor: pointer;

  transition: all 0.6s ease-in0s;
  will-change: background-color, color;
}

.degustation_submit:hover {
  background-color: #fff;
  color: #282828;
}
