/* styles for event */
.schedule_view-events {
    position: absolute;
  
    min-height: var(--hourHeight);
  
    left: 135px;
    right: 0;
  
    z-index: 1;
  
    border-left: 6px solid var(--event-category-color);
    background: var(--event-category-background);
  
    padding: 0 135px 0 0;
  
    box-sizing: border-box;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
  
    color: #243d6f;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    --event-category-color: #7c8f5ad5;
    --event-category-background: #e6f7c773;
  }
  
  .delete_button-event {
    position: absolute;
  
    top: 5px;
    right: 5px;
  
    border-style: none;
    background: none;
    color: rgba(42, 46, 65, 1);
  }
  
  .edit_button-event {
    position: absolute;
  
    top: 5px;
    right: 35px;
  
    border-style: none;
    background: none;
    color: rgba(42, 46, 65, 1);
  }
  
  .schedule_view-event-task {
    --event-category-color: rgb(243, 153, 70);
    --event-category-background: rgba(243, 153, 70, 0.15);
  }
  
  .schedule_view-event-reminder {
    --event-category-color: #8576ed;
    --event-category-background: rgba(133, 118, 237, 0.15);
  }
  
  .schedule_view-event-birthday {
    --event-category-color: #ff467e;
    --event-category-background: rgba(243, 153, 70, 0.15);
  }
  
  /* styles for event dialog form */
  .event_form > fieldset {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px 0;
  }
  
  .event_form > fieldset > label {
    padding: 5px 0;
  }
  
  #dialog-form {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.1538;
  }
  
  .ui-dialog .ui-dialog-title {
    font-family: "Roboto", sans-serif;
    font-size: 23px;
    text-align: center;
    font-weight: 400;
  }
  
  .ui-dialog-buttonset > .ui-button {
    background-color: #8576ed;
    background-image: none;
    border: 0;
    color: #fff;
    font-family: "Arial", sans-serif;
    font-style: normal;
  
    height: 40px;
    width: 145px;
  
    text-transform: uppercase;
    border-radius: 10px;
  
    font-size: 18px;
    font-weight: 300;
  }
  
  .ui-dialog-buttonset {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .ui-dialog .ui-dialog-buttonpane {
    padding: 0.3em 1em 0.3em 1em;
  }
  
  .ui-dialog .ui-dialog-buttonpane button {
    margin: 0.5em 0 0.5em 0;
  }
  
  input[type="time"]::-webkit-datetime-edit-text {
    color: #c1c6c9;
  }
  
  .ui-state-error,
  .ui-widget-content .ui-state-error,
  .ui-widget-header .ui-state-error {
    border: 1px solid #ff467e;
    background: #ff467e54;
    color: #ffffff;
  }
  
  .validateTips {
    border: 1px solid transparent;
    padding: 0.3em;
    font-style: italic;
    font-size: 14px;
    color: #ff467e;
    margin: 0;
  }
  
  .ui-state-highlight,
  .ui-widget-content .ui-state-highlight,
  .ui-widget-header .ui-state-highlight {
    border: 1px solid #ff467e;
    background: #fff;
  }
  
  #text {
    font-style: italic;
  }
  
  /*.tooltip {
    position: fixed;
    z-index: 100;
  
    padding: 10px 20px;
  
    border: 1px solid #b3c9ce;
    border-radius: 4px;
    text-align: center;
    font: "Arial" 14px/1.3 sans-serif;
    color: rgb(71, 72, 83);
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  }*/